a {color : red;}
h1 {color : green;}
h2{color : pink;}
html {background : yellow; }
body {background : purple;}
.il {color : blue;}
.ep {color : green;}
.ep {background : orange;}
.il {background : #446600;}
.il,.ep {border: 10px green solid;}

.il .section-title {color : black;}